# Include the license file
include LICENSE
include README.md
include CHANGELOG.md
include requirements.txt
include requirements.dev.txt
include .coveragerc
include pytest.ini

# Include the data files
recursive-include data *
recursive-include docs *.md

# Include the pik files
recursive-include pik *.html
recursive-include pik *.md

# EXCLUDE
prune .circleci
prune tests
exclude .prospector.yaml
exclude release.sh
exclude conftest.py
