# Include the license file
include LICENSE
include README.md
include CHANGELOG.md
include requirements.txt
include requirements.dev.txt
include .coveragerc
include pytest.ini

# Include the data files
recursive-include data *
recursive-include docs *.md

# Include the pik files
recursive-include pik *.html
recursive-include pik *.md
# lists of files in version control and sdist do not match!
# missing from sdist:
#   pik/bus/consumer.py
#   pik/bus/mixins.py
#   pik/bus/producer.py
# suggested MANIFEST.in rules:
#   recursive-include pik *.py
recursive-include pik *.py

# EXCLUDE
prune .circleci
prune tests
exclude .prospector.yaml
exclude release.sh
exclude conftest.py
