# Django
Django>=1.11.15
django-simple-history>=2.4.0

# Celery
celery>=4.2.1
kombu>=4.2.1

# Text normalization library
cucco==2.2.1
# Lexical Sortable UUID
ulid-py==0.0.6

# Other
# Requests doesn't support newer urllib3
# https://github.com/kennethreitz/requests/issues/5067
urllib3<=1.24.2
