# db
redis
psycopg2
django-redis

# tests
prospector==1.1.6.2
pylint==2.1.1
astroid==2.0.4
flake8==3.5.0
factory_boy
freezegun
pdbpp
pytest
pytest-mock
pytest-cov
pytest-django
pytest-selenium
pytest-base-url
pytest-benchmark

# packaging
pip
setuptools
twine
wheel
pygments

# packaging checkers
readme_renderer
check_manifest

# typing
mypy>=0.600
