# Django
Django
django-simple-history
djangorestframework
django-restql
djangorestframework-camel-case
django-filter
djangorestframework-filters==1.0.0.dev0
django-model-utils
drf-yasg
django-private-storage
django-documents-tools

# Celery
celery
kombu

# Text normalization library
cucco
