# db
redis
psycopg2
django-redis

# tests
faker
prospector
factory_boy
freezegun
pdbpp
pytest
pytest-mock
pytest-cov
pytest-django
pytest-selenium
pytest-base-url
pytest-benchmark
pytest-pythonpath
pylint

# packaging
pip
setuptools
twine
wheel
pygments

# packaging checkers
readme_renderer
check_manifest

# typing
mypy

# converting roman numerals
roman
