# db
redis
psycopg2
django-redis

# tests
prospector
factory_boy
freezegun
pdbpp
pytest
pytest-mock
pytest-cov
pytest-django
pytest-selenium
pytest-base-url
pytest-benchmark
# Error with all files Line: 1 pylint: fatal / Fatal error while checking
# TODO: unfreeze
pylint==2.12.2

# packaging
pip
setuptools
twine
wheel
pygments

# packaging checkers
readme_renderer
check_manifest

# typing
mypy

# converting roman numerals
roman