# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: python:3

      - image: mdillon/postgis:9.6
        environment:
          POSTGRES_DB: repo
          POSTGRES_USER: root

      - image: redis:3.2

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      - type: cache-restore
        key: pik-python-{{ arch }}-{{ .Branch }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements.dev.txt" }}

      - run:
          name: install dependencies
          command: |
            python3 -m venv .venv
            . .venv/bin/activate
            pip install --upgrade pip
            pip install --upgrade setuptools
            pip install --exists-action w -r requirements.txt --progress-bar off
            pip install --exists-action w -r requirements.dev.txt --progress-bar off            
            pip check

      - type: cache-save
        key: pik-python-{{ arch }}-{{ .Branch }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements.dev.txt" }}
        paths:
          - "~/repo/.venv"

      - run:
          name: run tests
          command: |
            . .venv/bin/activate
            set -x
            check-manifest
            python setup.py check -m -s
            pytest --doctest-modules --cov-report term-missing --durations=0 --cov pik -vvv
            prospector --profile-path . --profile prospector.yaml pik
            mypy pik --ignore-missing-imports
            pip check
