{% extends "admin/page.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        progress {
            appearance: none;
            -webkit-appearance: none;
            margin: 10pt;
            width: 100%;
            height: 25pt;
        }
        progress::-webkit-progress-value {
            background-color: var(--breadcrumbs-bg);
        }

        progress.error::-webkit-progress-value {
            background-color: var(--error-fg);
        }
        progress.successful::-webkit-progress-value {
            background-color: var(--header-bg);
        }

        progress[value]::-webkit-progress-bar {
            background-color: #eee;
            border-radius: 2px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        }
    </style>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {% if not finished %}
    <script>
        window.setTimeout( function() {
            window.location.reload();
        }, 1 * 1000);
    </script>
    {% endif %}
{% endblock %}


{% block content %}
    <div style="text-align: center">
        {% if started %}
            {% if total %}
                {{ processed }}/{{ total }} in {{ elapsed }}
                {% if speed is not None %}[{{ speed | floatformat:-2 }} it/s]{% endif %}
                {% if failed %}
                    {{ failed }} failed
                {% endif %}
            {% endif %}

            <progress {% if error or failed %} class="error" {% elif finished %} class="successful" {% endif %} value="{{ processed }}" max="{{ total }}"></progress>

            {{ percent }}%
            ETA {% if eta is not None %}{{ eta }}{% endif %}
        {% else %}
            Task not started yet
        {% endif %}
    </div>

    {% if error %}
        Error: {{ error }}
    {% endif %}

{% endblock %}
